@import "tailwindcss";

/* Box shadow */
:root {
  --shadow-color: 0deg 0% 80%;
  --shadow-elevation-low: 0.1px 0.3px 0.4px hsl(var(--shadow-color) / 0.07),
    0.1px 0.4px 0.6px -0.5px hsl(var(--shadow-color) / 0.14),
    0.2px 0.8px 1.1px -1.1px hsl(var(--shadow-color) / 0.2);
  --shadow-elevation-medium: 0.1px 0.3px 0.4px hsl(var(--shadow-color) / 0.08),
    0.3px 0.9px 1.3px -0.4px hsl(var(--shadow-color) / 0.13),
    0.6px 1.9px 2.7px -0.7px hsl(var(--shadow-color) / 0.18),
    1.2px 4px 5.6px -1.1px hsl(var(--shadow-color) / 0.22);
  --shadow-elevation-high: 0.1px 0.3px 0.4px hsl(var(--shadow-color) / 0.07),
    0.4px 1.2px 1.7px -0.2px hsl(var(--shadow-color) / 0.09),
    0.7px 2.1px 3px -0.3px hsl(var(--shadow-color) / 0.12),
    1px 3.2px 4.5px -0.5px hsl(var(--shadow-color) / 0.14),
    1.4px 4.6px 6.4px -0.6px hsl(var(--shadow-color) / 0.16),
    2px 6.6px 9.2px -0.8px hsl(var(--shadow-color) / 0.19),
    2.9px 9.4px 13.1px -0.9px hsl(var(--shadow-color) / 0.21),
    4.1px 13.3px 18.6px -1.1px hsl(var(--shadow-color) / 0.23);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tiptap {
  min-height: 200px;
  max-height: 300px;
}
